/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.dark-img::after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(29, 29, 29, 0.7);
}

.dark-img img{
  height: 700px;
}
.slider-caption,
.courses-div{
  width: 60%;
}


/* -------------------
    Media Queries 
-----------------------*/
/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .dark-img img{
    height: 450px;
  }
  .slider-caption{
    width: 80%;
  }
  .courses-div{
    width: 90%;
  }
  .course-main-title{
    font-size: 30px;
  }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .dark-img img{
    height: 350px;
  }
  .slider-caption{
    width: 90%;
  }
  .course-main-title{
    font-size: 20px;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  
  /* .slider-title{
    font-size: 40px;
  } */
  
}

